body {
  height: auto;
  overflow: auto;
}

iframe {
  width: 60%;
  height: 600px;
}

#header {
  height: 100px;
  text-align: center;
  background-color: white;
  color: #4CAF50;
  font-size: 70px;
  font-weight: bolder;
  font-family: verdana;
  font-variant: small-caps;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
}

#footer {
  height: 35px;
  text-align: center;
  color: white;
  background-color: orange;
  font-size: 30px;
  font-family: verdana;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#log_out {
  text-align: right;
  color: gray;
  font-size: 16px;
  font-family: verdana;
  font-variant: small-caps;
  font-weight: normal;
}

#main-content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: 130px;
  text-align: center;
}

#main-content_game {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: 130px;
  margin-bottom: 30px;
  text-align: center;
}

form {
  margin: 40px auto;
}

input {
  margin: 10px auto;
  display: block;
  text-align: center;
  padding: 12px 20px;
  font-size: 20px;
}

input[type=submit], input[type=button] {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 28px;
  margin: 30px auto;
}

canvas {
  border: 1px solid #000000;
  display: inline;
}

i {
  display: block;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  font-weight: lighter;
  font-variant: small-caps;
  letter-spacing: 7px;
  padding-right: 100px;
}

em {
  display: block;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  font-weight: lighter;
}

b {
  display: block;
  text-align: center;
  font-family: verdana;
  font-size: 100px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

table, th, td {
  table-layout: fixed;
  width: 90%;
  font-size: 18px;
  font-family: verdana;
  font-variant: small-caps;
  text-align: center;
  vertical-align: middle;
}

th {
  width: 100%;
  font-size: 25px;
}

td {
  width: 100%;
}

caption {
  font-size: 40px;
  text-decoration: underline;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.centerTable {
  margin: 0px auto;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  margin: 30px auto;
  display: block;
}
